<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TweetR</title>
    <link rel='stylesheet' href='stylesheets/main.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='shortcut icon' type='image/x-icon' href='favicons/favicon.ico' />
    <script defer src="fontawesome/fontawesome-all.js"></script>
</head>
<body id="body">

    <nav id="scroll" class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/tweets">TweetR</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    </li>
                </ul>
                <ui class="navbar-nav mr-auto">
                    <li id="logo" class="nav-item">
                        <i class="fab fa-fly"></i>
                    </li>
                </ui>
                <ul class="navbar-nav">
                    <% if(!currentUser) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/login" >Log In</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/register">Sign Up</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Log out</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>