html {
}
#body {
    background-color: #fbf4e8;
    min-height: 1080px;
    padding-bottom: 100px;
}
.profile {
    background-color: white;
    border: solid lightpink 1px;
    position:sticky;
    top: 50px;
    height: 100px;
    transition-duration: 0.25s;
    text-align: right;
    margin-bottom: 5px;

}
.profile a {
    display: block;
    height: 50px;

    font-size: 1.25em;

    position: relative;
    padding-right: 10px;
    padding-top: 8px
}
#nickname {
    background-color: lightpink;
    color: #3b3b3b;
}
#new-post {
    color: #ff5ba2;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
}
#new-post:hover {
    color: rgba(255, 91, 162, 0.58);
    transition-duration: 0.25s;
}
.profile img {
    background-color: #dedede;
    border: solid white 4px;
    object-fit: cover;
    width:80px;
    height:80px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.tweet {
    background-color: white;
    border: solid pink 1px;
    padding: 15px;
    margin-top: 5px;
}
.tweet:first-of-type{
    margin-top: 0px;
}
.tweet img {
    border: solid lightpink 1px;
    width:50px;
    height:50px;
    object-fit: cover;
}
.tweet .author {
    color: #ff5ba2;
    font-size: 1.1rem;

}
.tweet .date {
    color: #828282;
    font-size: 0.8rem;
    letter-spacing: 0.3px;

}
.form-tweet {
    padding: 15px;
    margin-bottom: 5px;
    border: solid 1px #d0d0d0;
    background-color: #f8f9fa;
}
.form-tweet .form-control {
    background-color: white;
    border: solid 1px #d0d0d0;
}
.form-login {
    padding: 15px;
    border: solid 1px pink;
    background-color: white;
}
.form-login .form-control{
    background-color: white;
    border: solid 1px pink;
}

.form-group textarea {
    resize: none;
}
.navbar {
    margin-bottom: 20px;
    padding: 0px !important;

    -webkit-box-shadow: 0px -3px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -3px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -3px 7px 0px rgba(0,0,0,0.75);
}
.navbar button{
    padding:0;
    border:none;
}
.navbar-bar .nav-item  a{
    padding: 0 5px;
    background-color:red;
}

/*padding for center*/
#logo {
    color:#ff5ba2;
    font-size: 1.50em;
    padding-left:50%;

}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
/*.active{*/
    /*border-bottom: 3px solid #ff5ba2;*/
    /*background-color: #e7e7e7;*/
/*}*/
hr{
    width:66%;
    color:red;
}
/*.navbar-custom {*/
    /*background-color: #ffa4cc;*/
/*}*/
/*!* change the brand and text color *!*/
/*.navbar-custom .navbar-brand,*/
/*.navbar-custom .navbar-text {*/
    /*color: rgba(255,255,255,.8);*/
/*}*/
/*!* change the link color *!*/
/*.navbar-custom .navbar-nav .nav-link {*/
    /*color: rgba(255,255,255,.5);*/
/*}*/
/*!* change the color of active or hovered links *!*/
/*.navbar-custom .nav-item.active .nav-link,*/
/*.navbar-custom .nav-item:hover .nav-link {*/
    /*color: #ffffff;*/
/*}*/
